.login-button {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.login-message {
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    margin-right: 2.5%;
}
.radio-style {
    margin-left: 47%;
}